*{
    font-family: "Edu TAS Beginner", cursive;   
    background-color: #FFEBF4;
}
:root{
    --pastel: #FC8FBF;
    --blanco: #FFEBF4;
}
.hider{
    align-items: center;
}
.menu__header{
    text-align:center;
    background-color: var(--blanco);
    font-size: 40px;
}
.menu__list{
    width: 95%;
    display: flex;
    gap: 20px;
    font-size: 30px;   
   justify-content: right; 
   
}
.letracolor:hover{
    color: #f51174;
    transition: 0s;
}

.title__profile{
    display: flex;
    align-items: center;
}

.title__bio{
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

.title__subsection{
    text-align: center;
    font-size: 30px;
    padding: 15px;
}

.title__network{
    justify-content: space-between;
    display: flex;
    padding: 15px;
    font-size: 40px;
}
.redescolor:hover{
    color: #f51174;
    transition: 0s;
}

#skill .imagenes_skill {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Opcional: Para alinear las imágenes en la parte superior */
    flex-wrap: wrap; /* Opcional: Para que las imágenes se ajusten en filas si hay muchas */
    width: 100%;
    text-align: center;
}

#skill .skill_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#skill .skill_item img {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px; /* Espacio entre la imagen y el h2 */
}



#hobbie .imagenes_hobbie {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Opcional: Para alinear las imágenes en la parte superior */
    flex-wrap: wrap; /* Opcional: Para que las imágenes se ajusten en filas si hay muchas */
    width: 100%;
    text-align: center;
}

#hobbie .hobbie_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#hobbie .hobbie_item img {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px; /* Espacio entre la imagen y el h2 */
}
