*{
    background-color: #FFEBF4;
    font-family: "PT Sans", sans-serif;
}
:root{
    --pastel: #FC8FBF;
    --blanco: #FFEBF4;
    --pastelito: #fb3fd6;
}
.hider{
    align-items: center;
}

.title__profile {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    margin-top: 25px;
    border-radius: 50%; 
    width: 15%; 
    height: auto; 
}

.title__bio {
    text-align: center; 
    margin-top: 20px; 
}

.menu__header {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding: 30px 40px;
    background: var(--pastelito);
}

.menu__list {
    display: flex;
    list-style: none; 
    margin: 0;
    padding: 0;
}

.menu__list__item {
    margin-left: 20px; 
    
}

.letracolor {
    text-decoration: none; 
    color: #333;
    font-weight: bold; 
}

.hider {
    margin-right: auto; 
}

.menu__title {
    margin: 0;
    font-size: 18px;
    color: #333;
}
.letracolor:hover{
    color: #f51174;
    transition: 0s;
}

.title__profile{
    display: flex;
    align-items: center;
}

.title__bio{
    text-align: center;
    font-size: 30px;
    padding: 5%;
}

.title__bio2{
    text-align: center;
    font-size: 20px;
    padding: 5%;
}

.title__network{
    justify-content: space-between;
    display: flex;
    padding: 10px;
    font-size: 40px;
    

}
.redescolor:hover{
    color: #f51174;
    transition: 0s;

}

.skill_title{
    padding: 15px;
}
#skill .imagenes_skill {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap; 
    width: 100%;
    text-align: center;
}

#skill .skill_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 50px;

}

#skill .skill_title{
    font-size: 20px;
   font-weight: bold; 
   margin: 0 15px;
}

#skill .skill_item img {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px; 
}
#skill .skill_item h2 {
    font-weight: bold; 
    font-size: 30px;

}

#hobbie .imagenes_hobbie {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; 
    flex-wrap: wrap; 
    width: 100%;
    text-align: center;
}

#hobbie .hobbie_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 50px;
}
#hobbie .hobbie_item h2 {
    font-weight: bold; 
    font-size: 30px;
}

#hobbie .hobbie_item img {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 10px; 
}
#hobbie .hobbies_title{
    font-size: 20px;
   font-weight: bold; 
   margin: 0 15px;
}

.academic__title{
    font-size: 30px;
    font-weight: bold; 

}
#formacion{
    padding: 15px;
}
.img_training img {
    width: 100px; 
    height: auto; 
    padding: 15px;
}

.senaimage {
    width: 150px; 
    height: auto; 
}

.formacion_caja img {
    width: 120px; 
    height: auto; 
}

.formacion_caja{
    font-weight: bold; 
}

.formacion_title{
    font-size: 25px;
}


.experience__img{
    width: 30%;
    border-radius: 15px;

}
